import { get, post, EthBlock, EthTx, EthEstimateGas, EstimateGas, TransactionHash } from '@tatumio/tatum-core'
import BigNumber from 'bignumber.js'

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}Broadcast" target="_blank">Tatum API documentation</a>
 */
export const broadcast = async (txData: string, signatureId?: string): Promise<TransactionHash> =>
  post(`/v3/{{slug}}/broadcast`, { txData, signatureId })

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}GetTransactionCount" target="_blank">Tatum API documentation</a>
 */
export const getTransactionsCount = async (address: string): Promise<number> => get(`/v3/{{slug}}/transaction/count/${address}`)

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}GetCurrentBlock" target="_blank">Tatum API documentation</a>
 */
export const getCurrentBlock = async (): Promise<number> => get(`/v3/{{slug}}/block/current`)

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}GetBlock" target="_blank">Tatum API documentation</a>
 */
export const getBlock = async (hash: string): Promise<EthBlock> => get(`/v3/{{slug}}/block/${hash}`)

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}GetBalance" target="_blank">Tatum API documentation</a>
 */
export const getBlockchainAccountBalance = async (address: string): Promise<BigNumber> => get(`/v3/{{slug}}/account/balance/${address}`)

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}GetTransaction" target="_blank">Tatum API documentation</a>
 */
export const getTransaction = async (hash: string): Promise<EthTx> => get(`/v3/{{slug}}/transaction/${hash}`)

/**
 * For more details, see <a href="https://tatum.io/apidoc#operation/{{pascalCase slug}}EstimateGas" target="_blank">Tatum API documentation</a>
 */
export const estimateGas = (body: EstimateGas): Promise<EthEstimateGas> => post('/v3/{{slug}}/gas', body, EstimateGas)
